body {
  font-family: $font-primary;
  background: $secondary;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  border: none;
  color: $white;
  background: $black;
  padding: $gutter-sm $gutter-lg;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 2vw;
  transition: $transition-primary;

  &:hover {
    background: $btn-primary;
  }

  &.remove {
    background: none;
    color: red;
    position: absolute;
    top: 0;
    padding: 0;
    right: 0;
    font-size: 2.5vw;
  }
}

input[type="text"] {
  border-radius: $border-radius;
  box-sizing: border-box;
  padding: $gutter-sm;
  width: 100%;
  font-size: 2vw;
  margin-bottom: $gutter-sm;
  border: none;
  transition: $transition-primary;

  &:focus {
    background: #444;
    color: $white;
  }
}

h2 {
  font-size: 3vw;
  text-decoration: underline;
  margin-bottom: $gutter-sm;
}
